@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);

*
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'BeaufortforLOL-Bold', 'Roboto', sans-serif;
}

#content
{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 'overlay form';
}

button
{
	border: 0.25vh solid #000000;
	padding: 0.5vh;
	font-weight: bold;
	border-radius: 1vh;
}

.logo
{
	height: 5vh;
}

.botao-excluir
{
	color: #ffffff;
	background-color: #ff0000;
	border: #ff0000 solid 0.2vh;
}